<form #form="ngForm" (ngSubmit)="logForm(form.value)" ngNativeValidate >
  <div class="row">
    <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Firstname" [formField]="checkoutForm.firstName">
        </div>
    </div>
    <div class="col-lg-6">
      @if(checkoutForm.lastName().invalid()) {
        <div class="alert alert-danger">Name is required</div>
      }
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Lastname" [formField]="checkoutForm.lastName">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Street" [formField]="checkoutForm.street">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="City" [formField]="checkoutForm.city">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Zip"  [formField]="checkoutForm.zip">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="State" name="state" ngModel>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Credit card number" name="cc" ngModel required>
        <span class="input-group-addon" ><img src="assets/card-types/mastercard.png"/></span>
      </div>
    </div>
    <div class="col-lg-6">

    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
